header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

header div {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  width: 200px;
}

header div img {
  border-radius: 50%;
}
